# python bytecode
__pycache__/
tests/__pycache__/

# environment variables
.envrc

# local copy of the GeoJSON feed from the USGS website (for development)
4.5_month.geojson

# service account JSON key (it's the SA attached to the application deployed on Cloud Run)
sa-dash-earthquakes.json

# generated credentials from google-github-actions/auth
gha-creds-*.json
