os: linux
dist: xenial
branches:
  only:
    - master
before_install:
  - sudo apt-get update --quiet
  - curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - $HOME/.poetry/bin/poetry install -v
script:
  - $HOME/.poetry/bin/poetry run pytest --verbose
notifications:
  email:
    on_success: change
    on_failure: always
