[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dash = "==0.17.7"
dash_renderer = "==0.7.3"
dash-html-components = "==0.6.2"
dash-core-components = "==0.5.3"
plotly = "==2.0.12"
python-dotenv = "*"
requests = "*"
pandas = "*"
arrow = "*"
gunicorn = "*"
